.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-login{
    width: 300px;
    border: 1px solid green;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

button{
    display: inline-block;
    font-size: 16px;
    margin-top:20px ;
    padding: 5px;
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 5px;
}
input{
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}