Content{
    background-color: white;
    padding: 24;
    width: 100%; /* ให้เต็มหน้าจอ */
}


.Block-content{
    margin: 28px 48px 20px 48px;
    border-radius: 20px;
}

footer{
    text-align: center;
}